// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

.my_card {
  width: 25rem;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.bg-color {
  background: $bg-app;
}

.bg-dark {
  background: $bg-app-dark;
  color: white !important;
}

*{
  font-family: 'Nunito Sans', sans-serif;
}
