// app global css in SCSS form

.my_card {
  width: 25rem;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.bg-color {
  background: $bg-app;
}

.bg-dark {
  background: $bg-app-dark;
  color: white !important;
}
